{% extends "base.html" %}
{% load static %}

{% block content %}
<main class="trendingfont main-bg">
    <!-- Search results for filtered user search -->
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-8 mt-3 offset-md-2 trendingfont">
                    <h1>{{ movie.title }}</h1>

                </div>
                <!-- link to send you back to original search page -->
                <a href="{% url 'movie_search' }">Back to search.</a>
                    
                    <!-- Reviews on the site from other users -->
                    <container class="review-container">
                        <h2>Reviews for {{ movie.movie_title }}</h2>
                                        <ul>
                                            {% for review in reviews %}
                                            <li>
                                                <strong>{{ review.title }}</strong> by {{ review.author }}<br>
                                                {{ review.content }}<br>
                                                <small>Posted on {{ review.created_on }}</small>
                                            </li>
                                            {% empty %}
                                            <li>No reviews yet. Be the first to leave one!</li>
                                            {% endfor %}
                                        </ul>
                    </container>

                </div>
            </div>
        </div>
    </body>
</main>

{% endblock %}