{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Movie Search -->
<main class="trendingfont" id="searchfilter">
    <div class="container border border-secondary" >
        <div class="row">
            <div class="col-md-8 mt-3 offset-md-2">
                <h1>Search For Your Movie</h1>
                <form method="get" action="{% url 'movie_search' %}">
                    <div>
                        {{ form.as_p }}
                        <button type="submit">Search</button>
                        {% if movies %}
                        <h2>Search results</h2>
                        <ul>
                            {% for movie in movies %}
                            <!-- data specified to be pulled from the database -->
                            <li>
                                <a
                                    href="https://www.rottentomatoes.com/{{movie.rotten_tomatoes_link}}"
                                    aria-label="rottentomatoeslink" >
                                    {{ movie.movie_title }}</a>
                                ({{ movie.original_release_date}})<br>
                                {{ movie.genres }}<br>
                                {{ movie.movie_info}}<br>
                                {{ movie.directors}}<br>
                                {{ movie.actors}}<br>
                                {{ movie.tomatometer_rating}}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </form>
                <!-- If no results are found -->
                {% elif form.is_bound %}
                <p>No Results Found.</p>
            </div>
        </div>
    </div>
</main>
{% endif %}
{% endblock %}