{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}

      <div class="reviewwelcomemsg text-end text-center text-white">
        <h4>
                Welcome {{ user.first_name }} {{ user.last_name }}
        </h4>
        <h4>Name: {{user.username}}</h4>
        <h4>Email: {{user.email}}</h4>
        <h4>Member since {{user.date_joined}}</h4>
      </div>
      <hr>
      <h1 class="text-white">Your Reviews</h1>
      {% if reviews %}
        <ul class="userreviews list-group text-white">
          {% for review in reviews %}
            <li class="list-group-item mb-3">
              <h3>{{ review.title }}</h3>
              <p><strong>Movie:</strong> <a class="text-white" href="{% url 'movie_detail' review.movie.pk %}">{{ review.movie.movie_title }}</a></p>
              <p><strong>Content:</strong> {{ review.content }}</p>
              <p><strong>Created on:</strong> {{ review.created_on|date:"F j, Y, g:i a" }}</p>
              <div class="mt-2">
                <a href="{% url 'review_update' review.id %}" class="btn btn-success btn-sm">Edit Review</a>
                <a href="{% url 'review_delete' review.id %}" class="btn btn-danger btn-sm">Delete Review</a>
              </div>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p class="alert alert-info">You have not written any reviews yet.</p>
      {% endif %}
  {% else %}
    <p class="text-end m-3">You are not logged in</p>
  {% endif %}
  
{% endblock %}
